<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjyoption.system.mapper.StatUserMapper">
    
    
    <select id="selectAllDept" resultType="StatuserReport">
        SELECT t.`dept_id` deptId,d.`dept_name` deptName,GROUP_CONCAT(t.`uid`) uids
		FROM sys_user t
		INNER JOIN sys_dept d ON t.`dept_id`=d.`dept_id`
		WHERE t.`uid` IS NOT NULL
		GROUP BY t.`dept_id`
    </select>
    <select id="selectTopList" parameterType="Long" resultType="StatuserReport">
        SELECT t.`dept_id` deptId,d.`dept_name` deptName,t.`uid`,u.`utel`
		FROM sys_user t
		INNER JOIN sys_dept d ON t.`dept_id`=d.`dept_id`
		INNER JOIN wp_userinfo u ON t.`uid`=u.`uid`
		WHERE t.`dept_id` = #{deptId}
    </select>
    
    <select id="selectRegisterNum" parameterType="StatuserReport" resultType="Integer">
        SELECT COUNT(1) registnum
		FROM wp_userinfo t
		<where>
			t.otype=0 AND t.normaltype=1
			<if test="begintime != null"><!-- 开始时间检索 -->
				AND from_unixtime(t.`utime`,'%Y%m%d') &gt;= #{begintime}
			</if>
			<if test="endtime != null"><!-- 结束时间检索 -->
				AND from_unixtime(t.`utime`,'%Y%m%d') &lt;= #{endtime}
			</if>
			<if test="topid != null "> and t.`topid` = #{topid}</if>
			<if test="topids != null">
				AND t.`topid` in 
				<foreach item="uid" collection="topids" open="(" separator="," close=")">
		            #{uid}
		        </foreach>
			</if>
		</where>
    </select>
    
    <select id="selectRecharge" parameterType="StatuserReport" resultType="StatuserReport">
        SELECT SUM(t.`money`) rechargemoney,COUNT(DISTINCT t.`pay_id`) rechargenum
		FROM `codepay_order` t
		LEFT JOIN wp_userinfo u ON t.`pay_id` = u.`uid`
		<where>
			t.`status`=1 and u.otype=0 AND u.normaltype=1
			<if test="topid != null "> and u.`topid` = #{topid}</if>
			<if test="begintime != null"><!-- 开始时间检索 -->
				AND date_format(t.`up_time`,'%Y%m%d') &gt;= #{begintime}
			</if>
			<if test="endtime != null"><!-- 结束时间检索 -->
				AND date_format(t.`up_time`,'%Y%m%d') &lt;= #{endtime}
			</if>
			<if test="topids != null">
				AND u.`topid` in 
				<foreach item="uid" collection="topids" open="(" separator="," close=")">
		            #{uid}
		        </foreach>
			</if>
		</where>
    </select>
    
    <select id="selectWithdraw" parameterType="StatuserReport" resultType="StatuserReport">
        SELECT SUM(t.`realprice`) withdrawmoney,COUNT(DISTINCT t.`uid`) withdrawnum
		FROM wp_balance t
		LEFT JOIN wp_userinfo u ON t.`uid` = u.`uid`
		<where>
			t.`isverified`=1 AND t.`bptype`=0 AND u.otype=0 AND u.normaltype=1
			<if test="topid != null "> and u.`topid` = #{topid}</if>
			<if test="begintime != null"><!-- 开始时间检索 -->
				AND from_unixtime(t.`cltime`,'%Y%m%d') &gt;= #{begintime}
			</if>
			<if test="endtime != null"><!-- 结束时间检索 -->
				AND from_unixtime(t.`cltime`,'%Y%m%d') &lt;= #{endtime}
			</if>
			<if test="topids != null">
				AND u.`topid` in 
				<foreach item="uid" collection="topids" open="(" separator="," close=")">
		            #{uid}
		        </foreach>
			</if>
		</where>
    </select>
        
    
</mapper>