<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjyoption.system.mapper.WpYieldRateMapper">
    
    <resultMap type="WpYieldRate" id="WpYieldRateResult">
        <result property="id"    column="id"    />
        <result property="rate"    column="rate"    />
        <result property="daily"    column="daily"    />
        <result property="typeid"    column="typeid"    />
        <result property="typename"    column="typename"    />
    </resultMap>

    <sql id="selectWpYieldRateVo">
        select t.id, t.rate, t.daily, t.typeid,t2.name typename 
        from wp_yield_rate t
        left join wp_financial_type t2 on t.typeid=t2.id
    </sql>

    <select id="selectWpYieldRateList" parameterType="WpYieldRate" resultMap="WpYieldRateResult">
        <include refid="selectWpYieldRateVo"/>
        <where>  
        	<if test="typeid != null ">and t.`typeid` = #{typeid}</if>
        	<if test="daily != null ">and t.`daily` = #{daily}</if>
        </where>
    </select>
    
    <select id="selectWpYieldRateById" parameterType="Integer" resultMap="WpYieldRateResult">
        <include refid="selectWpYieldRateVo"/>
        where t.id = #{id}
    </select>
        
    <insert id="insertWpYieldRate" parameterType="WpYieldRate" useGeneratedKeys="true" keyProperty="id">
        insert into wp_yield_rate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rate != null ">`rate`,</if>
            <if test="daily != null ">`daily`,</if>
            <if test="typeid != null ">`typeid`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rate != null ">#{rate},</if>
            <if test="daily != null ">#{daily},</if>
            <if test="typeid != null ">#{typeid},</if>
         </trim>
    </insert>

    <update id="updateWpYieldRate" parameterType="WpYieldRate">
        update wp_yield_rate
        <trim prefix="SET" suffixOverrides=",">
            <if test="rate != null ">`rate` = #{rate},</if>
            <if test="daily != null ">`daily` = #{daily},</if>
            <if test="typeid != null ">`typeid` = #{typeid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWpYieldRateById" parameterType="Integer">
        delete from wp_yield_rate where id = #{id}
    </delete>

    <delete id="deleteWpYieldRateByIds" parameterType="String">
        delete from wp_yield_rate where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>