<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增导航栏')" />
    <th:block th:include="include :: jasny-bootstrap-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-bar-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">名称：</label>
                <div class="col-sm-8">
                    <input name="name" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">跳转地址：</label>
                <div class="col-sm-8">
                    <input name="tourl" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">层级：</label>
                <div class="col-sm-8">
                    <select id="barLevelVal" name="barlevel" class="form-control m-b" th:with="type=${@dict.getType('sys_common_level')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="bar_level_1" style="display: none;">    
                <label class="col-sm-3 control-label">一级：</label>
                <div class="col-sm-8">
                    <select id="bar_level_1_val" class="form-control m-b" >
                        <option th:each="levelList : ${bar1List}" th:text="${levelList.name}" th:value="${levelList.id}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group" id="bar_level_2" style="display: none;">    
                <label class="col-sm-3 control-label">二级：</label>
                <div class="col-sm-8">
                    <select id="bar_level_2_val" class="form-control m-b" >
                        <option th:each="levelList : ${bar2List}" th:text="${levelList.name}" th:value="${levelList.id}" ></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">顺序：</label>
                <div class="col-sm-8">
                    <input name="barorder" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                    <select name="bartype" class="form-control m-b" th:with="type=${@dict.getType('sys_websit_banner_type')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <select name="barstatus" class="form-control m-b" th:with="type=${@dict.getType('sys_notice_status')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">页面打开方式：</label>
                <div class="col-sm-8">
                    <select name="target" class="form-control m-b" th:with="type=${@dict.getType('sys_page_target')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">code：</label>
                <div class="col-sm-8">
                    <input name="barcode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">ICON：</label>
                <div class="fileinput fileinput-new" data-provides="fileinput">
			        <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;">
			          <img src="" >
			        </div>
			        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
			        <div>
			          <span class="btn btn-white btn-file"><span class="fileinput-new">选择图片</span><span class="fileinput-exists">更改</span><input id="file" type="file"></span>
			        </div>
                    <input id="iconurl" name="iconurl" class="form-control" type="text" readonly="readonly">
		      	</div>
            </div>
            <input id="parentid" name="parentid" class="form-control" type="hidden">
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jasny-bootstrap-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/bar"
        $("#form-bar-add").validate({
            focusCleanup: true
        });
        
        var barLevelVal = $("#barLevelVal").val();
        function submitHandler() {
            if ($.validate.form()) {
            	if(barLevelVal == 2){
                	$("#parentid").val($("#bar_level_1_val").val());
                }else if(barLevelVal == 3){
                	$("#parentid").val($("#bar_level_2_val").val());
                }else{
                	$("#parentid").val("0");
                }
            	if(barLevelVal > 1 && !$("#parentid").val()){
            		$.modal.alertWarning("必须选择上级");return;
            	}
                $.operate.save(prefix + "/add", $('#form-bar-add').serialize());
            }
        }
        $('#file').on('change', function() {
			$("#iconurl").val('');
        	if(this.files.length == 0){
        		return;
        	}
            var formdata = new FormData();
            formdata.append("file", this.files[0]);
            $.ajax({
                url: ctx + "common/upload",
                data: formdata,
                type: "post",
                processData: false,
                contentType: false,
                success: function(result) {
                	console.log(result);
                	if(result.code == 0){
                		$("#iconurl").val(result.url);
                	}
                }
            })
        })
        $("#barLevelVal").change(function(){
        	var val = $(this).val();
        	barLevelVal = val;
        	if(val == 2){
        		$("#bar_level_1").show();
        		$("#bar_level_2").hide();
        	}else if(val == 3){
        		$("#bar_level_2").show();
        		$("#bar_level_1").hide();
        	}else{
        		$("#bar_level_1").hide();
        		$("#bar_level_2").hide();
        	}
        })
    </script>
</body>
</html>